* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

.button {
    height: 40px;
}

/* .current-weather {
    border: solid lightgray 3px;
} */